@import "tailwindcss";

:root {
  /* Page backgrounds, chat message backgrounds */
  --background: #f6e6cb;

  /* Text colors on darker backgrounds, sub texts, descriptions, paragraphs */
  --foreground: #6b4f4f;

  /* Logo, headings, titles, important texts, footer backgrounds */
  --brand-primary: #483434;

  /* Card backgrounds, button backgrounds */
  --brand-secondary: #e7d4b5;

  /* Icons, links, SVGs, effects */
  --accent: #b6c7aa;

  /* lighter tone #d3ddcc */
  /* darker tone #919F88 */

  /* blue #2b7fff */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-odilon-logo: var(--brand-primary);
  --color-odilon-heading: var(--brand-primary);
  --color-odilon-card: var(--brand-secondary);
  --color-odilon-button: var(--brand-secondary);
  --color-odilon-accent: var(--accent);

  --font-logo: var(--font-gloock), serif;
  --font-header: var(--font-bree-serif), serif;
  --font-body: var(--font-assistant), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  overflow-x: hidden;
  /* overflow-y is managed by pages if needed */
  font-style: normal !important;
}

/* Explicitly define font utilities */
.font-logo {
  font-family: var(--font-gloock), serif !important;
}

.font-header {
  font-family: var(--font-bree-serif), serif !important;
}

.font-body {
  font-family: var(--font-assistant), sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bree-serif), serif;
  color: var(--brand-primary);
  font-style: normal !important;
}

em,
i,
.italic {
  font-style: normal !important;
}
